{% extends './base.html' %}

{% block choices %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
{% endblock %}

{% block correct_answer %}
{% if correct_answer %}
    <p>Answer to the Ultimate Question = {{ correct_answer }}</p>
{% else %}
    <p>No correct answer available.</p>
{% endif %}
{% endblock %}